.profile-flexbox {
  background-color: #f0f0f0; /* Updated background color */
  width: 80%; /* Updated width */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px; /* Increased border-radius for rounded corners */
  margin: auto; /* Center the flexbox */
}


.flexbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  text-align: center; /* Center-align text */
}

.skills {
  margin-bottom: 20px;
}

.skills h4 {
  font-size: 18px; /* Increased font size */
  font-weight: bold;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%; /* Ensure buttons take full width */
}

.buttons button {
  margin: 5px;
  padding: 10px 20px;
  border: 1px solid #007bff; /* Updated border color */
  border-radius: 5px;
  cursor: pointer;
  color: #007bff; /* Updated text color */
}

.profile-detail-btn {
  text-decoration: none;
  color: #007bff;
}
